:root {
--bg-color: 35 100% 98%; /*Background*/
  --main-color: 189 30% 48%; /*Color after typing, monkeytype logo, WPM Number acc number etc*/
  --caret-color: 35 81% 56%; /*Cursor Color*/
  --sub-color: 267 57% 78%;
  --sub-alt-color: 35 36% 91%;
  --text-color: 197 53% 34%; /*Color of text after hovering over it*/
  --error-color: 343 35% 55%;
  --error-extra-color: 3 53% 67%;
  --colorful-error-color: 343 35% 55%;
  --colorful-error-extra-color: 3 53% 67%;
}